


.imgWeb{
	width:45%;

}

.imgJava, .imgUML{
	width:18%;

}

.imgC, .imgBordeaux, .imgEncpb, .imgLef{
	width:13%;

}

.imgBootstrap, .imgJavaEE, .imgAgile, .imgSQL, .imgOracle{
	width:20%;

}



.imgASP{
	width:25%;

}

h6+p>img {
	margin-right: 4%;
}


div#bloc1>h5 {
	text-align: center;
}

div#bloc1>div {
	padding-left:4%;
	font-weight: bold;
}


h6 {
margin-left: 5%;
font-weight: bold;
margin-bottom: 2%;
}

h5 {
font-weight: bold;
margin-bottom: 5%;
}
html {
scroll-behavior: smooth;
 }
	  
.rounded-circle {
width: 50%;
}

.d-block {
height: 30rem;
}
	 

	
.container-fluid {
	padding: 0%;
	margin: 0%;
	width: 100%;
}

.background2 {
    color: white;
	font-size: 18px;
	font-family: Symbol, sans-serif;
	padding-top: 6rem;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	transition : all 1s ease-in;
	background-image: url("./img/background2n.jpg");
	height: 65rem;


	

}



.background3 {
	color: white;
		font-size: 18px;
		font-family: Symbol, sans-serif;
		padding-top: 6rem;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		transition : all 1s ease-in;
		background-image: url("./img/background3n.jpg");
		height: 140rem;
	
		
		
	
	}

	.background4 {
		color: white;
			font-size: 18px;
			font-family: Symbol, sans-serif;
			text-decoration: none;
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-size: cover;
			transition : all 1s ease-in;
			background-image: url("./img/background4n.jpg");
			height: 10rem;
		
			
			
		
		}

		.footer {
			color: white;
			font-size: 18px;
			font-family: Symbol, sans-serif;
			text-decoration: none;
		}
.footer:hover {
	text-decoration: none;
}

.sociaux {
	padding-right: 2%;
	padding-left:2%;
}

.reseau {
	width: 4%;
}
		#nom{
			padding:2rem;
			font-size: 1.6em;
			background: black;
			color:white;
			font-family: 'Trebuchet MS';
			animation-duration: 3s;
			animation-name: animNom;
			animation-delay: 1s;
			opacity: 0;
			animation-fill-mode:forwards;

			
		}
		
		
		 
		@keyframes animNom {
			from {
				opacity: 0;
			}
		  
			to {
				opacity: 1;
				
			}
		  }
		
		#presentation {
		margin-top: 20rem;
		
			
		
		}
		
		.fleche {
			text-align: center;
			margin-top: 11%;
			
			
		}

        
		
		.flechette {
			width: 5%;
			animation-duration: 2s;
			animation-name: AnimeFleche;
			animation-iteration-count: infinite;
		}


	@keyframes AnimeFleche {
		from {
					 
		width: 5%;
					
		}
				  
		to {
			width: 6%;
					  
		}
		 }

		#bloc:hover, #bloc1:hover, #bloc2:hover {

        box-shadow: inset 0 0 0 1rem #f8fcff;

		}
		#bloc, #bloc1, #bloc2 {
			border-radius:5%;
			
	
			}

	#bla {		
	animation-duration: 7s;
	animation-name: animBla;
	animation-fill-mode: forwards;

	}


	@keyframes animBla {
	from {
				 

	opacity:0;
				
	}
			  
	to {
	opacity: 1;
				  
	}
	 }

			  

		

  @media (max-width: 768px) {

	
	
	.rounded-circle {
		width: 50%;
	}

	.background2 {
			padding-top:6rem;
	}
	#presentation {
		margin-top: 10rem;
		
		}
		
		.container-fluid {
			padding: 0%;
			margin: 0%;
			width: 100%;
		}
		
		.background2 {
			color: white;
			font-size: 18px;
			font-family: Symbol, sans-serif;
			padding-top: 6rem;
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-size: cover;
			transition : all 1s ease-in;
			background-image: url("./img/background2n.jpg");
			height: 65rem;
		
		
			
		
		}
		
		.background3 {
			color: white;
				font-size: 18px;
				font-family: Symbol, sans-serif;
				padding-top: 6rem;
				background-attachment: fixed;
				background-repeat: no-repeat;
				background-size: cover;
			
				background-image: url("./img/background3n.jpg");
				height: 150rem;
			
				
				
			
			}
		
			.background4 {
				color: white;
					font-size: 18px;
					font-family: Symbol, sans-serif;
					padding-top: 1rem;
					background-attachment: fixed;
					background-repeat: no-repeat;
					background-size: cover;
					
					background-image: url("./img/background4n.jpg");
					height: 15rem;
				
					
					
				
				}
		
				#nom{
					padding:2rem;
					font-size: 1.6em;
					background: black;
					color:white;
					font-family: 'Trebuchet MS';
					animation-duration: 3s;
					animation-name: animNom;
					animation-delay: 1s;
					opacity: 0;
					animation-fill-mode:forwards;
		
					
				}
				
				
				 
				@keyframes animNom {
					from {
						opacity: 0;
					}
				  
					to {
						opacity: 1;
						
					}
				  }
				
				.fleche {
					text-align: center;
					margin-top: 35%;
					
					
					
				}

				
		.flechette {
			width: 5%;
			animation-duration: 2s;
			animation-name: AnimeFleche;
			animation-iteration-count: infinite;
		}


	@keyframes AnimeFleche {
		from {
					 
		width: 5%;
					
		}
				  
		to {
			width: 13%;
					  
		}
		 }
		   
		 #bloc, #bloc1, #bloc2 {
			border-radius:5%;
			margin-left: 3%;
			
	
			}

		
  }
  
  


